<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to gitPub</title>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
            align-items: center;
        }
        img {
            max-width: 300px;
        }
    </style>
</head>
<body>
    <h1>Eat The Food</h1>
    <ul>
        <% for ( let i = 0; i <allFood.length; i++){%>
        <li>
            <a href="/foods/<%= i %>"><%=allFood[i].name%></a>
        </li>
        <% } %>
    </ul>
    <h5><a href="/drinks">See List of Drinks</a></h5>
</body>
</html>
