<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to gitPub!</title>
    <style type="text/css">
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: blanchedalmond;
            background-color: orange;
             text-transform: capitalize;
            }
            h1 {
                font-size: 60px;
            }
        h2 {
            color:blue;
        }
        img {
            max-width: 400px;
        }
        ul {
            list-style: none;
        }
        li:before { 
            color:brown;
            
            content: "\27bd \0020"; 
            margin-left: -20px; 
            margin-right: 10px; 
        }
     </style>
</head>
<body>
    <h1>LETS EAT THE FOODS!</h1>
    <h2><%=food.name%></h2>
    <img src="<%= food.image %>" alt="food image">
    <h3>$<%=food.price; %></h3>
    <h5><a href="/food">Back to Food List</a></h5>
</body>
</html>
